# Node modules
node_modules/

# .env files (for both server and client)
server/.env
client/.env

# Logs
*.log

# Build directories
client/dist/
server/build/

# Dependency directories
jspm_packages/

# System files
.DS_Store
Thumbs.db
